
body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  overflow: visible;
}

.html-embeded {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
		z-index: -15;
    background: linear-gradient(to top, rgb(62, 81, 81), rgb(222, 203, 164));
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


.header{
  height: 75px;
  background-color: #31334A;
}

.logo{
  position: absolute;
  width: 75px;
  height: 75px;
  margin-top: 0px;
  margin-left: 5px;
  background-image: url('./images/logo-inh-color.svg');
  background-position: 100% 100%;
  background-size: 100% 100%;
  background-attachment: scroll;
  background-clip: border-box;
  cursor: pointer;
	z-index: 20;
}

.inh{
  position: absolute;
  width: 250px;
  height: 65px;
  margin-top: 5px;
  margin-left: 70px;
  padding-top: 15px;
  padding-left: 0px;
  background-color: transparent;
  font-family: Open Sans, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  white-space: normal;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
}

.titulo{
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  background-color: transparent;
  font-family: Open Sans, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.subtitulo{
  position: absolute;;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 45px;
  background-color: transparent;
  font-family: Open Sans, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.iconos_footer{
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom:0%;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: end;
  -ms-flex-line-pack: end;
  align-content: end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-areas: "Area-1 modelo-completo modelo-armado modelo-componentes Area-2";
  -ms-grid-columns: 3fr 10px 1fr 10px 1fr 10px 1fr 10px 3fr;
  grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: transparent;
  z-index: -10;
}

.botones_modelo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #31334A;
  font-family: Open Sans, sans-serif;
  color: #4BE5C5;
  font-size: 16px;
  line-height: 45px;
  font-weight: 300;
  cursor: pointer;
}

.botones_modelo:hover{
  background-color: #CC2264;
  color: #FFFFFF;
  font-weight: 400;
}

#m-completo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: modelo-armado;
}

#m-armado{
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: modelo-completo;
}

#m-componentes{
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: modelo-componentes;
}

.barra-lateral {
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    display: none; /* desctivar al pasar a produccion */
    width: 260px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #31334A;
    z-index: -5;
  }

  .contenedor-etapas {
      position: absolute;
      left: 0;
      top: 25%;
      right: auto;
      display: block;
      height: 500px;
    }

  .etapa {
    width: auto;
    height: 25px;
    margin-top: 7.5px;
    background-color: transparent;
  }

  #paso1, #paso2, #paso3, #paso4, #paso5, #paso6, #paso7, #paso8, #paso9, #paso10, #paso11, #paso12, #paso13, #paso14, #btn_maestranza_figura, #btn_carpinteria_figura, #btn_pasarela_figura, #btn_otros_figura, #btn_ref_figura{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-style: solid;
   border-width: 2px;
   border-radius: 30%;
  }

  #paso1-t,#paso2-t,#paso3-t,#paso4-t,#paso5-t,#paso6-t,#paso7-t,#paso8-t,#paso9-t,#paso10-t,#paso11-t,#paso12-t,#paso13-t,#paso14-t, #btn_maestranza_texto, #btn_carpinteria_texto, #btn_pasarela_texto, #btn_otros_texto, #btn_ref_texto{
    position: relative;
    left: auto;
    top: -80%;
    display: flex;
    margin-left: 41px;
    margin-right: 15px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-start;
    font-size: 13px;
  }

  .oculto {
		border-color: #8B93AA;
    color: #8B93AA;
    font-style: italic;
    font-weight: 300;
  }

  .mostrado {
		border-color: #4BE5C5;
    color: #4BE5C5;
    font-style: normal;
    font-weight: 400;
  }

  .seleccionado {
		border-color: #ffffff;
    /*background-color: #cc2264;*/
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
  }

  #paso1:hover, #paso2:hover, #paso3:hover, #paso4:hover, #paso5:hover, #paso6:hover,
  #paso7:hover, #paso8:hover, #paso9:hover, #paso10:hover, #paso11:hover, #paso12:hover,
  #paso13:hover, #paso14:hover, #btn_maestranza_figura:hover, #btn_carpinteria_figura:hover,
  #btn_pasarela_figura:hover , #btn_otros_figura:hover, #btn_ref_figura:hover {
    border-color: #CC2264;
    background-color: #CC2264;
  }

  .barra-lateral-derecha{
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: none; /* ocultar al pasar a producción */
    /*
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    */
    height: 100%;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #31334a;
    z-index: -5;
  }

  .contenedor__derecha{
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
